<h1 class="title"> User profile</h1>
<div class="container">
    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/kerihenare/128.jpg" width="200" height="200" class="photo">

    <div class="details">


        <div class="item">
            <strong class="first">Name</strong>
            <div class="last"> Avery </div>

        </div>

        <div class="item">
            <strong class="first"> Username</strong>
            <div class="last"> Avery.Christiansen </div>

        </div>

        <div class="item">
            <strong class="first"> E-Mail</strong>
            <div class="last"> Avery.Christiansen.Kertzmann57@yahoo.com</div>

        </div>

        <div class="item">
            <strong class="first"> Birthday</strong>
            <div class="last"> 1968-10-06T10:38:52.438Z </div>

        </div>

        <div class="last-item">
            <strong class="first"> Phone</strong>
            <div class="last"> 165-669-2451 x3814</div>

        </div>
    </div>

</div>