<h1> User profile</h1>
<div class="container">
    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/kerihenare/128.jpg" style="" width="200" height="200">

    <div style="display: flex; flex-direction: column;margin-top: 3.5%; flex:1; margin-left: 1%;">


        <div style="display: flex; flex:1; ">
            <strong style=" display:flex; flex: 1;"> Name</strong>
            <div style=" display:flex; flex:10;"> Avery </div>

        </div>

        <div style="display: flex; flex:1; ">
            <strong style=" display:flex; flex: 1;"> Username</strong>
            <div style=" display:flex; flex:10;"> Avery.Christiansen </div>

        </div>

        <div style="display: flex; flex:1; ">
            <strong style=" display:flex; flex: 1;"> E-Mail</strong>
            <div style=" display:flex; flex:10;"> Avery.Christiansen.Kertzmann57@yahoo.com</div>

        </div>

        <div style="display: flex; flex:1; ">
            <strong style=" display:flex; flex: 1;"> Birthday</strong>
            <div style=" display:flex; flex:10;"> 1968-10-06T10:38:52.438Z </div>

        </div>

        <div style="display: flex; flex:10;">
            <strong style=" display:flex; flex:1; "> Phone</strong>
            <div style=" display:flex; flex:10;"> 165-669-2451 x3814</div>

        </div>
    </div>










</div>

<!--




  "name": "Avery",
  "username": "Avery.Christiansen",
  "avatar": "https://s3.amazonaws.com/uifaces/faces/twitter/kerihenare/128.jpg",
  "email": "Avery.Christiansen.Kertzmann57@yahoo.com",
  "dob": "1968-10-06T10:38:52.438Z",
  "phone": "165-669-2451 x3814",


-->