<h1 class="title"> User profile</h1>
<div class="container">
    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/kerihenare/128.jpg" width="200" height="200" class="photo">

    <div class="details">


        <div class="item">
            <strong class="first">Name</strong>
            <div class="last"> {{user.name}} </div>

        </div>

        <div class="item">
            <strong class="first"> Username</strong>
            <div class="last"> {{user.username}} </div>

        </div>

        <div class="item">
            <strong class="first"> E-Mail</strong>
            <div class="last">{{user.email}}</div>

        </div>

        <div class="item">
            <strong class="first"> Birthday</strong>
            <div class="last"> {{user.dob }} </div>

        </div>

        <div class="last-item">
            <strong class="first"> Phone</strong>
            <div class="last"> {{user.phone}}</div>

        </div>
    </div>

</div>