<!---
  OwnName: "John Smith",
                    city: "New York, 350 Fifth Ave, New York, NY 10118 ",
                    diagnostic: "Potentially Toxic Levels of Vitamin D in Several Dry Pet Foods but His heathly is currently pretty well",
                    lastTheatment: new Date(20, 7, 2020),
                    photo: "https://s3.amazonaws.com/uifaces/faces/twitter/wake_gs/128.jpg"

-->


<label> Name: </label>
<h2> {{firstName.name}}</h2>
<label> Owner Name: </label>
<h2> {{firstName.OwnName}}</h2>
<label> City: </label>
<h2> {{firstName.city}}</h2>
<label> Diagnostic: </label>
<h2> {{firstName.diagnostic}}</h2>
<label> Last time theatment</label>
<h2> {{firstName.lastTheatment}} </h2>
<label> photo: </label>
<img [src]="firstName.photo" alt="pictures" width="300" >