<div class="container">


  <div class="photo">

    <img class="" [src]="firstAnimal.photo" alt="pictures" width="300">

  </div>


  <div class="row">
    <label class="col"> Name </label>
    <h2 class="col"> {{firstAnimal.name}}</h2>
  </div>

  <div class="row">
    <label class="col"> Owner Name </label>
    <h2 class="col"> {{firstAnimal.OwnName}}</h2>
  </div>

  <div class="row">
    <label class="col"> City </label>
    <h2 class="col"> {{firstAnimal.city}}</h2>
  </div>
  <div class="row">
    <label class="col"> Diagnostic </label>
    <h2 class="col"> {{firstAnimal.diagnostic}}</h2>

  </div>

  <div class="row">
    <label class="col"> Diagnostic </label>
    <h2 class="col"> {{firstAnimal.diagnostic}}</h2>
  </div>
</div>
<div class="divider">

</div>


<div class="container">
  <div class="photo">

    <img class="" [src]="secondAnimal.photo" alt="pictures" width="300">

  </div>


  <div class="row">
    <label class="col"> Name </label>
    <h2 class="col"> {{secondAnimal.name}}</h2>
  </div>

  <div class="row">
    <label class="col"> Owner Name </label>
    <h2 class="col"> {{secondAnimal.OwnName}}</h2>
  </div>

  <div class="row">
    <label class="col"> City </label>
    <h2 class="col"> {{secondAnimal.city}}</h2>
  </div>
  <div class="row">
    <label class="col"> Diagnostic </label>
    <h2 class="col"> {{secondAnimal.diagnostic}}</h2>

  </div>

  <div class="row">
    <label class="col"> Diagnostic </label>
    <h2 class="col"> {{secondAnimal.diagnostic}}</h2>
  </div>
</div>


<div class="divider">

</div>


<div class="container">

  <div class="photo">

    <img class="" [src]="lastAnimal.photo" alt="pictures" width="300">

  </div>


  <div class="row">
    <label class="col"> Name </label>
    <h2 class="col"> {{lastAnimal.name}}</h2>
  </div>

  <div class="row">
    <label class="col"> Owner Name </label>
    <h2 class="col"> {{lastAnimal.OwnName}}</h2>
  </div>

  <div class="row">
    <label class="col"> City </label>
    <h2 class="col"> {{lastAnimal.city}}</h2>
  </div>
  <div class="row">
    <label class="col"> Diagnostic </label>
    <h2 class="col"> {{lastAnimal.diagnostic}}</h2>

  </div>

  <div class="row">
    <label class="col"> Diagnostic </label>
    <h2 class="col"> {{lastAnimal.diagnostic}}</h2>
  </div>
</div>