:host {
    display: block;
    margin-left: 0.5%;
    width: 50%;
    margin-top: 0.5%;
    margin-bottom: 1.5%;

    .view-container {
        display: flex;
        flex-direction: column;
        .profil {
            width: 100%;
            background: rgb(136, 166, 217);
            background: radial-gradient(
                circle,
                rgba(136, 166, 217, 1) 1%,
                rgba(35, 78, 169, 1) 68%,
                rgba(31, 8, 207, 1) 98%
            );
            display: flex;
            flex-direction: column;
            align-items: center;
            color: white;
            .photo-container {
                background-color: rgba(136, 166, 217, 1);
                transform: translateY(100px);
                border-bottom-left-radius: 50%;
                border-bottom-right-radius: 50%;
                padding-bottom: 5px;
                padding-right: 5px;
                .photo {
                    border-radius: 50%;
                    border: 15px solid white;
                    // transform: translateY(100px);

                    &::before {
                        content: "";
                        border: 10px solid red;
                        width: 100px;
                        height: 2px;
                    }
                }
            }
        }

        .info-container {
            display: flex;
            justify-content: space-around;
            .point {
                display: flex;
                flex-direction: column;
                border-radius: 50%;
                border: 100px solid white;
                transform: translateY(-100px);
                .title {
                    color: #d1dddc;
                    flex: 1;
                }
                .value {
                    color: #1f08cf;
                    flex: 4;
                }
            }
            .goal {
                display: flex;
                flex-direction: column;
                align-items: center;
                transform: translateY(80px);
                color: #d1dddc;
            }
            .rang {
                display: flex;
                flex-direction: column;
                border-radius: 50%;
                border: 100px solid white;
                transform: translateY(-100px);
                .title {
                    color: #d1dddc;
                }
                .value {
                    color: #1f08cf;
                }
            }
        }

        .content {
            display: flex;
            width: 100%;
            flex-direction: column;
            background-color: #f8fafa;
            .title {
                display: flex;
                justify-content: center;
            }
            .container {
                display: flex;
                flex-direction: column;
                .layout {
                    display: flex;
                    flex-direction: column;
                    margin-left: 5%;
                    .row {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        margin-top: 2%;
                        margin-bottom: 2%;
                        .progress-bar {
                            width: 35%;
                            border: 1px solid black;
                            position: relative;
                            padding: 3px;
                            border-radius: 15px;
                            .percent {
                                position: absolute;
                                left: 45%;
                            }

                            .bar {
                                height: 20px;
                                border-top-left-radius: 14px;
                                border-bottom-left-radius: 14px;
                            }
                        }
                        .incubation-phase {
                            width: 35%;
                            padding: 3px;
                            border-radius: 15px;
                            text-align: center;
                            background-color: rgba($color: #cc5c5c, $alpha: .4);
                            color: white;
                            font-size: larger;
                        }
                    }
                }
            }
        }
    }
}
