<div class="view-container" *ngIf="seller else placeholderNoData">


    <div class="profil">
        <div>
            <h3>My Status</h3>
        </div>
        <div class="photo-container">
            <img [src]="seller.avatar" class="photo">
        </div>

    </div>


    <div class="info-container">
        <div class="point">
            <strong class="title">
                Point
            </strong>
            <h1 class="value">{{seller.points}}</h1>
        </div>



        <div class="goal">

            <h1>My week's goal</h1>
            <strong>(6 days to go)</strong>
        </div>

        <div class="rang">
            <strong class="title"> Rang </strong>
            <h1 class="value">{{seller.rang}}</h1>
        </div>
    </div>



    <div class="content">

        <div class="title">
            <h1>My Skills</h1>
        </div>

        <div class="container">
            <div class="layout">
                <div class="row" *ngIf="seller.salesProcess >10 else placeholerSales">

                    <strong>Sales process</strong>
                    <div class="progress-bar">
                        <span class="percent"
                            [ngStyle]="getFontColor(seller.salesProcess)">{{seller.salesProcess}}%</span>
                        <div class="bar" [ngStyle]="getProgress(seller.salesProcess)"></div>
                    </div>
                </div>

                <ng-template #placeholerSales>
                    <div class="row">
                        <strong>Sales process</strong>
                        <div class="incubation-phase"> Incubation phase </div>
                    </div>
                </ng-template>


                <div class="row" *ngIf="seller.firstContact >10 else placeholerContact">

                    <strong>First Contact</strong>
                    <div class="progress-bar">
                        <span class="percent"
                            [ngStyle]="getFontColor(seller.firstContact)">{{seller.firstContact}}%</span>
                        <div class="bar" [ngStyle]="getProgress(seller.firstContact)"></div>
                    </div>
                </div>

                <ng-template #placeholerContact>
                    <div class="row">
                        <strong>First Contact</strong>
                        <div class="incubation-phase"> Incubation phase </div>
                    </div>
                </ng-template>


                <div class="row" *ngIf="seller.needAnalysis >10 else placeholerAnalysis">

                    <strong>Need analysis</strong>
                    <div class="progress-bar">
                        <span class="percent"
                            [ngStyle]="getFontColor(seller.needAnalysis)">{{seller.needAnalysis}}%</span>
                        <div class="bar" [ngStyle]="getProgress(seller.needAnalysis)"></div>
                    </div>
                </div>

                <ng-template #placeholerAnalysis>
                    <div class="row">
                        <strong>Need analysis</strong>
                        <div class="incubation-phase"> Incubation phase </div>
                    </div>
                </ng-template>



                <div class="row" *ngIf="seller.priceNegotiation >10 else placeholerNegotation">

                    <strong>Price negotiation</strong>
                    <div class="progress-bar">
                        <span class="percent"
                            [ngStyle]="getFontColor(seller.priceNegotiation)">{{seller.priceNegotiation}}%</span>
                        <div class="bar" [ngStyle]="getProgress(seller.priceNegotiation)"></div>
                    </div>
                </div>
                <ng-template #placeholerNegotation>
                    <div class="row">
                        <strong>Price negotiation</strong>
                        <div class="incubation-phase"> Incubation phase </div>
                    </div>
                </ng-template>

            </div>
        </div>
    </div>

</div>
<ng-template #placeholderNoData>
    <div class="no-data-root">
            <div class="no-data">
                
    NO<br/> DATA
            </div>

    </div>
</ng-template>