<div class="view-container">


    <div class="profil">
        <div>
            <h3>My Status</h3>
        </div>
        <div class="photo-container">
            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/GavicoInd/128.jpg" class="photo">
        </div>

    </div>


    <div class="info-container">
        <div class="point">
            <strong class="title">
                Point
            </strong>
            <h1 class="value">2.431</h1>
        </div>



        <div class="goal">

            <h1>My week's goal</h1>
            <strong>(6 days to go)</strong>
        </div>

        <div class="rang">
            <strong class="title"> Rang </strong>
            <h1 class="value">4.431</h1>
        </div>
    </div>



    <div class="content">

        <div class="title">
            <h1>My Skills</h1>
        </div>

        <div class="container">
            <div class="layout">
                <div class="row">

                    <strong>Seles process</strong>
                    <div class="progress-bar">
                        <span class="percent">30%</span>
                        <div class="bar"></div>
                    </div>
                </div>


                <div class="row">

                    <strong>First Contact</strong>
                    <div class="progress-bar">
                        <span class="percent">30%</span>
                        <div class="bar"></div>
                    </div>
                </div>


                <div class="row">

                    <strong>Needd analysis</strong>
                    <div class="progress-bar">
                        <span class="percent">30%</span>
                        <div class="bar"></div>
                    </div>
                </div>


                <div class="row">

                    <strong>Price negotiation</strong>
                    <div class="progress-bar">
                        <span class="percent">30%</span>
                        <div class="bar"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>