<div>

    <h3>Hello World!</h3>

    <div class="pie">

    </div>
    <div class="pie1">

    </div>

    <div class="pie2">

    </div>

    <div class="pie3">

    </div>

    <div class="pie4">

    </div>
    <div class="pie5">

    </div>


    <div class="pie6"></div>


    <spinner-progress></spinner-progress>





    <div class="radial">
        <div class="circle"></div>
        <div class="half-circle"></div> <!--This is hidden for < 50%-->
        <div class="overlay">
            <div class="overlay-left"></div>
            <div class="overlay-right"></div>
        </div>
    </div>


    <div class='clip-me'></div>

</div>