<div style="display: flex; margin-left: 1px; margin-right: 1px;">

    <mat-accordion class="example-headers-align" style="flex-grow:1">   
        <mat-expansion-panel>
            <mat-expansion-panel-header >
                <mat-panel-title >
                    <h3 style="text-align: right;">Basics</h3>
                </mat-panel-title>
            </mat-expansion-panel-header>
    
            <mat-selection-list #shoes [multiple]="false" (selectionChange)="selectItem($event)">
                <mat-list-option *ngFor="let shoe of typesOfShoes" [value]="shoe">
                  {{shoe}}
                </mat-list-option>
              </mat-selection-list>
              
              
        </mat-expansion-panel>
    
    </mat-accordion> 

    <div style="flex-grow:10; ">
        <router-outlet></router-outlet>
    </div>


</div>
